<div class="col-lg-2">
    <div class="list-group drop-reveal-list user-drop-reveal-list">
        <a href="{{ url_for('bp_faults.customer_read_faults') }}" class="list-group-item list-group-item-action">
            <div class="msg-body">
                <div class="msg-content">
                    <h3 class="title"><i class="fa fa-user mr-2"></i>Reported Faults</h3>
                </div>
            </div>
        </a>
        <a href="{{ url_for('bp_faults.customer_create_fault') }}" class="list-group-item list-group-item-action">
            <div class="msg-body">
                <div class="msg-content">
                    <h3 class="title"><i class="fa fa-calendar mr-2"></i>Create Fault</h3>
                </div>
            </div>
        </a>
    </div>
</div>