{% extends "base.html" %}
{% block title %}Forget Password{% endblock %}
{% block content %}

<section class="contact-area padding-top-50px padding-bottom-50px">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 mx-auto">
        <div class="form-box">
          <div class="form-title-wrap">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissable" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="close">
                <span aria-hidden="true">X</span>
              </button>
              {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <h3 class="title">Recover Password</h3>
            <p class="font-size-15 pt-2">Enter the email of your account to reset password. Then you will receive a link to email to reset the password. If you have any issue about reset password <a href="#" class="text-color">contact us</a></p>
          </div>
          <div class="form-content ">
            <div class="contact-form-action">
              
              <form method="POST" enctype="multipart/form-data" action={{ url_for("bp_forgot_password.forgot_password") }}>
                <div class="input-box">
                  <label class="label-text">Your Email</label>
                  <div class="form-group">
                    <span class="fa fa-envelope-o form-icon"></span>
                    <input class="form-control" type="email" id="email" name="email" placeholder="Enter email address" 
                    pattern="{{ input_validation.EMAIL_REGEX_PATTERN|format_regex_for_html }}" 
                    title="Only accepts gmail.com, hotmail.com, yahoo.com, outlook.com, sit.singaporetech.edu.sg and singaporetech.edu.sg domain" 
                    required="true">
                  </div>
                </div>
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <div class="btn-box">
                  <button type="submit" class="theme-btn">Reset Password</button>
                </div>
                {{ recaptcha }}
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}