{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block content %}

<main>
  <article>

    {#
    - #HERO
    #}

    {% if not search_result and search_result != [] %}
    <section class="section hero" id="home">
      <div class="container">

        <div class="hero-content">
          <h2 class="h1 hero-title">Search Click Rent Rev</h2>

          <p class="hero-text">
            Singapore's Only Exotic Car Rental!
          </p>
        </div>

        <div class="hero-banner"></div>
        {% include "search_bar.jinja2" %}
      </div>
    </section>
    {% else %}
    {% include "search_bar.jinja2" %}
    {% endif %}

    {#
    - #FEATURED CAR
    #}

    <section class="section featured-car" id="featured-car">
      <div class="container">

        {#
        <div class="title-wrapper">
          <h2 class="h2 section-title">Featured cars</h2>

          <a href="#" class="featured-car-link">
            <span>View more</span>

            <ion-icon name="arrow-forward-outline" role="img" class="md hydrated" aria-label="arrow forward outline">
            </ion-icon>
          </a>
        </div>
        #}

        <ul class="featured-car-list">

          {% for vehicle in search_result %}
          <li>
            <div class="featured-car-card">

              <figure class="card-banner">
                {% if vehicle.image %}
                <img src="data:{{ vehicle.image_mime }}};base64,{{ vehicle.get_b64_image() }}" loading="lazy" class="w-100" width="440"
                  height="300">
                {% else %}
                <img src="{{ url_for('static', filename='../static/images/generic.webp') }}" loading="lazy" class="w-100" width="440"
                  height="300">
                {% endif %}
              </figure>

              <div class="card-content">

                <div class="card-title-wrapper">
                  <h3 class="h3 card-title">
                    {{ vehicle.vehicle_model }}
                    {#<a href="#">Toyota SUPRA</a>#}
                  </h3>

                  <data class="year" value="2021">{{ vehicle.vehicle_type }}</data>
                </div>

                <ul class="card-list">

                  <li class="card-list-item">
                    <ion-icon name="people-outline" role="img" class="md hydrated" aria-label="people outline">
                    </ion-icon>

                    <span class="card-item-text">{{ vehicle.location }}</span>
                  </li>

                  <li class="card-list-item">
                    <ion-icon name="flash-outline" role="img" class="md hydrated" aria-label="flash outline"></ion-icon>

                    <span class="card-item-text">{{ vehicle.license_plate }}</span>
                  </li>

                  <li class="card-list-item">
                    <ion-icon name="speedometer-outline" role="img" class="md hydrated"
                      aria-label="speedometer outline"></ion-icon>

                    <span class="card-item-text">13.1km / 1-litre</span>
                  </li>

                  <li class="card-list-item">
                    <ion-icon name="hardware-chip-outline" role="img" class="md hydrated"
                      aria-label="hardware chip outline"></ion-icon>

                    <span class="card-item-text">Automatic</span>
                  </li>

                </ul>

                <div class="card-price-wrapper">

                  <p class="card-price">
                    <strong>${{ vehicle.price_per_unit }}</strong> / Day
                  </p>

                  <a href="{{ url_for('bp_bookings.customer_confirm_booking', vehicle_id=vehicle.vehicle_id, start_date=search_term.start_date, end_date=search_term.end_date) }}">
                    <button class="btn">Rent now</button>
                  </a>

                </div>

              </div>

            </div>
          </li>
          {% endfor %}
        </ul>

      </div>
    </section>

  </article>
</main>

{% endblock %}