{% extends "base.html" %}
{% block title %}User Management{% endblock %}
{% block content %}

    {# Body #}
    <body>
        {# Simple Heading Text #}
        <div class="container">
            <div class="well">
                <h1 class="text-center">User Management</h1>
            </div>
        </div>

        {# Main page content #}
        <div class="container">
            <div class="row">
                {# User manager Interfaces #}
                <div class="col md-12">
                    {# Insert Data interface #}
                    <h2>User List <button type="button" class="btn btn-success pull-right" data-toggle="modal" data-target="#myModel" style="margin-right: 5px; margin-bottom: 5px;">Add User</button> </h2>
                    
                    {# Modal For Creating a New User #}
                    <div  class="modal fade" id="myModel" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Please Insert New User</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                
                                <div class="modal-body">
                                    <form action="{{ url_for('bp_ucp.manager_create_user') }}" method="POST" enctype="multipart/form-data">
                                        <div class="form-group">
                                            <label>Email</label>
                                            <input type="email" class="form-control" name="email" pattern="{{ input_validation.EMAIL_REGEX_PATTERN|format_regex_for_html }}">
                                        </div>
                                        <div class="form-group">
                                            <label>Password</label>
                                            <input type="password" class="form-control" name="password" pattern="{{ input_validation.PASSWORD_REGEX_PATTERN|format_regex_for_html }}">
                                        </div>
                                        <div class="form-group">
                                            <label>First Name</label>
                                            <input type="text" class="form-control" name="first_name" pattern="{{ input_validation.NAME_REGEX_PATTERN|format_regex_for_html }}">
                                        </div>
                                        <div class="form-group">
                                            <label>Last Name</label>
                                            <input type="text" class="form-control" name="last_name" pattern="{{ input_validation.NAME_REGEX_PATTERN|format_regex_for_html }}">
                                        </div>
                                        <div class="form-group">
                                            <label>Phone Number</label>
                                            <input type="text" class="form-control" name="phone_number" pattern="{{ input_validation.PHONE_NUMBER_REGEX_PATTERN|format_regex_for_html }}">
                                        </div>
                                        <div class="form-group">
                                            <label>Role</label>
                                            <select class="form-control" name="role">
                                                {% for r, r_str in valid_roles.items() %}
                                                <option value="{{r}}">{{ r_str[0].upper() + r_str[1:] }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>License</label>
                                            <input type="file" class="form-control" name="license_blob" accept="{{ input_validation.get_valid_file_types() }}">
                                        </div>
                                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                        <div class="form-group">
                                            <input class="btn btn-primary" type="submit" value="Insert Data">
                                        </div>
                                    </form>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                            </div>
                        </div>
                    </div>

                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                    {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissable" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="close">
                            <span aria-hidden="true">X</span>
                        </button>
                        {{ message }}
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}

                    {# Table User Interface for Read/Update/Delete #}
                    <table class="table table-striped">
                        {# Table Column Headings #}
                        <tr>
                            <th>ID</th>
                            <th>Email</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Phone Number</th>
                            <th>Role</th>
                            <th>License</th>
                            <th>Action</th>
                        </tr>

                        {# For loop to display User table content Read DB #}
                        {% for row in user_list %}
                        <tr>
                            <td>{{row.user_id}}</td>
                            <td>{{row.email}}</td>
                            <td>{{row.first_name}}</td>
                            <td>{{row.last_name}}</td>
                            <td>{{row.phone_number}}</td>
                            <td>{{ roles[row.role].title() }}</td>
                            <td><img height="50px" src="{{ row.get_b64_license_data_uri() }}" alt="{{ row.license_filename }}"/></td>
                            <td>
                                <a href="#" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modelEdit{{ row.user_id }}" style="margin-bottom: 2px;">Edit</a>
                                <form method="POST" action="{{ url_for('bp_ucp.manager_delete_user', user_id=row.user_id) }}" style="display: grid; margin-top: 2px;">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                    <button class="btn btn-danger btn-xs" onclick="return confirm('Are You Sure, you want to delete user {{ row.user_id }}?')">Delete</button>
                                </form>
                            </td>
                        </tr>

                        {# Modal For Updating a User #}
                        <div class="modal fade" id="modelEdit{{row.user_id}}" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Please Edit Your User Details</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    
                                    <div class="modal-body">
                                        <div class="well">
                                            <h4 class="text-center" name="" type="number" value="{{ row.user_id }}">Updating User : {{row.user_id}}</h4>
                                        </div>
                                        {# TODO: may need to change form action depending on the user (manager/manager) #}
                                        <form action="{{ url_for('bp_ucp.manager_update_user', user_id=row.user_id) }}" method="POST" enctype="multipart/form-data">
                                            <div class="form-group">
                                                <label>Email</label>
                                                <input type="email" class="form-control" name="email" value="{{ row.email }}" pattern="{{ input_validation.EMAIL_REGEX_PATTERN|format_regex_for_html }}">
                                            </div>
                                            <div class="form-group">
                                                <label>Password</label>
                                                <input type="password" class="form-control" name="password" pattern="{{ input_validation.PASSWORD_REGEX_PATTERN|format_regex_for_html }}">
                                            </div>
                                            <div class="form-group">
                                                <label>First Name</label>
                                                <input type="text" class="form-control" name="first_name" value="{{ row.first_name }}" pattern="{{ input_validation.NAME_REGEX_PATTERN|format_regex_for_html }}">
                                            </div>
                                            <div class="form-group">
                                                <label>Last Name</label>
                                                <input type="text" class="form-control" name="last_name" value="{{ row.last_name }}" pattern="{{ input_validation.NAME_REGEX_PATTERN|format_regex_for_html }}">
                                            </div>
                                            <div class="form-group">
                                                <label>Phone Number</label>
                                                <input type="text" class="form-control" name="phone_number" value="{{ row.phone_number }}" pattern="{{ input_validation.PHONE_NUMBER_REGEX_PATTERN|format_regex_for_html }}">
                                            </div>
                                            <div class="form-group">
                                                <label>Role</label>
                                                <select class="form-control" name="role">
                                                    {% for r, r_str in valid_roles.items() %}
                                                    <option value="{{r}}" {% if r == row.role %}selected="true"{% endif %}>{{ r_str.title() }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="form-group">
                                            <label>License</label>
                                                <input type="file" class="form-control" name="license_blob" accept="{{ input_validation.get_valid_file_types() }}">
                                            </div>
                                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                            <div class="form-group">
                                                <input class="btn btn-primary" type="submit" value="Update Data">
                                            </div>
                                        </form>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}                        
                    </table>
                </div>
            </div>
        </div>
{% endblock %}