<h1>Enable OTP</h1>
<hr />
<div>
    {% with mfa_secret = get_flashed_messages(category_filter=["mfa_secret_uri"]) %}
    {% if mfa_secret %}
    <img src="{{ qrcode(mfa_secret[0]) }}">
    {% endif %}
    {% endwith %}
    
    <div>
        <form action="{{ url_for('route_confirm_mfa_enabled') }}" method="POST">
            <input type="text" name="otp">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <input type="submit" />
        </form>
    </div>
</div>
