{% extends "base.html" %}
{% block title %}Privacy Policy{% endblock %}
{% block content %}
{# Simple Heading Text #}

<div class="container">

    <header>
        <h1 style="text-align:center">Shallot Privacy Policy</h1>
    </header>
    
    <br><br>

    <div class="row">
    <div class=" span-12 cell">
        <p>
            Your privacy is important to us. This Privacy Policy, which outlines how your Personal Data will be 
            handled and managed, is in accordance with the Personal Data Protection Act 2012 (PDPA) which strives 
            to protect Personal Data of individuals.
        </p>
        <p>
            We may from time to time update this Privacy Policy to ensure that it is consistent with the PDPA, 
            and updates will be published here. Your use of this Website after such changes have been posted will 
            constitute your agreement to be bound by the modified Privacy Policy.
        </p>
        <p>
            As the Website contain hyperlinks to other websites, Shallot is not responsible for the privacy practices 
            of the other websites. We encourage you to consult the privacy notices of those websites.
        </p>
        <br>
        <h2>Personal Data</h2>
        <p>
            "Personal Data" refers to any data or information about you from which you can be identified either from 
            that data; or from that data and other information to which we have or are likely to have access.
        </p>
        <p>
            Examples of Personal Data include your name, contact number(s), email address and any other information 
            relating to you which you have provided us in any form of interaction with you.
        </p>
        <br>
        <h2>Collection, Use and/or Disclosure of Personal Data</h2>
        <p>
            Shallot may collect your Personal Data submitted to us via mail or registration forms at our events, 
            for the purpose specified. We will not collect Personal Data that is more than necessary for us to engage with 
            you on your request, query and/or applications submitted. By voluntarily providing your Personal Data to Shallot, 
            you are deemed to have consented to the use and/or disclosure of the data for the purposes specified.
        </p>
        <p>
            You should ensure that all Personal Data submitted to us is complete and accurate. Failure on your part to do 
            so may result in our inability to contact you, or carry out activities for the purposes which you had given us 
            consent to collect, use and/or disclose your Personal Data for.
        </p>
        <p>
            Where Personal Data is submitted by you, either as an individual or organisation, on behalf or for the purposes 
            of another individual, you warrant to us that all the necessary consents obtained in accordance with all applicable 
            data protection legislation, including but not limited to the PDPA, for the purpose specified, have been obtained 
            from that individual and that you have notified him/her of the purposes for which the Personal Data would be collected, 
            used and/or disclosed.
        </p>
        <br>
        <h2>Minors</h2>
        <p>
            If you are at least 13 years of age, you will be deemed to have provided personal consent for the collection, 
            use and/or disclosure of your Personal Data voluntarily provided for the purpose specified. If you are below 13 years 
            of age, consent for the collection, use and/or disclosure of your Personal Data would need to be sought from an 
            individual who can legally give consent on your behalf, such as your parent or lawful guardian.
        </p>
        <br>
        <h2>Information Security</h2>
        <p>
            We will protect the Personal Data that we hold from misuse and unauthorised disclosure. We will only use and/or 
            disclose your Personal Data (including disclosure to our partner organisations whom we manage events, internship 
            and career-related activities with) for the purposes which you have consented us to collect, use and/or disclose 
            your Personal Data for.
        </p>
        <p>
            We will retain your Personal Data for as long as needed to serve the purposes for which the data is collected, and 
            where permitted by law, we will destroy or make unidentifiable Personal Data that is no longer needed.
        </p>
        <p>
            To safeguard your Personal Data and interests, all electronic storage and transmission of Personal Data are secured 
            with appropriate security technologies.
        </p>
        <br>
        <h2>Use of Cookies</h2>
        <p>
            Cookies are small data files that your browser places on your computer or device. Cookies help your browser navigate 
            a website and the cookies themselves cannot collect any information stored on your computer or files. We use cookies 
            to learn more about the way you interact with our Website content and help us improve your experience when visiting 
            our Website.
        </p>
        <p>
            Should you wish to disable the cookies, you may do so by changing the setting on your browser. However, you may not 
            be able to enter certain parts of our Website.
        </p>
        <br>
        
    </div>
    </div> 
</div>

{% endblock %}

