{% extends "base.html" %}
{% block title %}Profile{% endblock %}
{% block content %}

<section class="contact-area padding-top-50px padding-bottom-50px">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="container">
        {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="close">
                <span aria-hidden="true">X</span>
            </button>
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
            <div class="form-box">
                <div class="form-title-wrap border-bottom-0 pb-0">
                    <h3 class="title">Profile Information</h3>
                </div>
                <div class="form-content">
                    <div class="table-form table-responsive">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td class="pl-0">
                                        <div class="table-content">
                                            <h3 class="title font-weight-medium">First Name</h3>
                                        </div>
                                    </td>
                                    <td>:</td>
                                    <td>{{current_user.first_name}}</td>
                                </tr>
                                <tr>
                                    <td class="pl-0">
                                        <div class="table-content">
                                            <h3 class="title font-weight-medium">Last Name</h3>
                                        </div>
                                    </td>
                                    <td>:</td>
                                    <td>{{current_user.last_name}}</td>
                                </tr>
                                <tr>
                                    <td class="pl-0">
                                        <div class="table-content">
                                            <h3 class="title font-weight-medium">Email Address</h3>
                                        </div>
                                    </td>
                                    <td>:</td>
                                    <td>{{current_user.email}}</td>
                                </tr>
                                <tr>
                                    <td class="pl-0">
                                        <div class="table-content">
                                            <h3 class="title font-weight-medium">Phone Number</h3>
                                        </div>
                                    </td>
                                    <td>:</td>
                                    <td>{{current_user.phone_number}}</td>
                                </tr>
                                <tr>
                                    <td class="pl-0">
                                        <div class="table-content">
                                            <h3 class="title font-weight-medium">MFA</h3>
                                        </div>
                                    </td>
                                    <td>:</td>
                                    {% if current_user.mfa_secret %}
                                    <td>Enabled</td>
                                    {% else %}
                                    <td>
                                        <a href={{ url_for("route_enable_mfa") }}>Enable MFA</a>
                                    </td>
                                    {% endif %}
                                </tr>
                                {% if user and (current_user.is_manager() or current_user.is_admin()) %}
                                <tr>
                                    <td class="pl-0">
                                        <div class="table-content">
                                            <h3 class="title font-weight-medium">Role</h3>
                                        </div>
                                    </td>
                                    <td>:</td>
                                    <td>
                                        {{ current_user.get_role_str().title() }}
                                    </td>
                                </tr>
                                {% else %}
                                <tr>
                                    <td class="pl-0">
                                        <div class="table-content">
                                            <h3 class="title font-weight-medium">License</h3>
                                        </div>
                                    </td>
                                    <td>:</td>
                                    <td>
                                        <img height="150px" src="{{ current_user.get_b64_license_data_uri() }}" alt="{{current_user.license_filename}}"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="pl-0">
                                        <div class="table-content">
                                            <h3 class="title font-weight-medium">License Verified</h3>
                                        </div>
                                    </td>
                                    <td>:</td>
                                    <td>{% if current_user.is_verified() %}<i class="fa fa-check">{% else %}<i class="fa fa-close"></i>{% endif %}</i></td>
                                </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                    <div class="section-block"></div>
                    <p>To edit your profile, please write in to help@shallot-rental.shop</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}