<h1>Account Detail</h1>
<hr />
<div>
    {% with mfa_secret = get_flashed_messages(category_filter=["mfa_secret_uri"]) %}
    {% if mfa_secret %}
    <img src="{{ qrcode(mfa_secret[0]) }}">
    {% endif %}
    {% endwith %}
    <div>
        <h2>Name</h2>
        {{user.first_name}} {{user.last_name}}
    </div>
    <div>
        <h2>Email</h2>
        {{user.email}}
    </div>
    <div>
        <h2>Phone Number</h2>
        {{user.phone_number}}
    </div>
    <div>
        <h2>License</h2>
        <img height="150px" src="{{ user.get_b64_license_data_uri() }}" alt="{{user.license_filename}}"/>
    </div>
    <div>
        <h2>MFA</h2>
        {% if user.mfa_secret %}
        Regenerate secret
        {% else %}
        <a href={{ url_for("route_enable_mfa") }}>Enable MFA</a>
        {% endif %}
    </div>

</div>
