{% extends "base.html" %}
{% block title %}Registration{% endblock %}
{% block content %}

<section class="contact-area padding-top-50px padding-bottom-50px">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 mx-auto">
        <div class="form-box">
            <div class="form-title-wrap">
              <span class="icon-element-check-only"></span>
              <br><br>
              <h3 class="title d-flex justify-content-center">Registration Email Sent</h3>
              <p class="font-size-15 pt-2 d-flex justify-content-center">Please check your email to complete the registration, if nothing is within the inbox check your junk mail.</p>
            </div>
        </div>
    </div>
    </div>
  </div>
</section>
{% endblock %}