{% extends "base.html" %}
{% block title %}Registration{% endblock %}
{% block content %}
{# Simple Heading Text #}
<div class="container">
  <div class="row">
    <div class="col-lg-3 mt-3"></div>
    <div class="col-lg-6 mt-3">
      <div class="form-box">
        <div class="form-title-wrap">
          <h3 class="title">Register</h3>
        </div>{# form-title-wrap #}
        <div class="form-content ">
          <div class="contact-form-action">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissable" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="close">
                <span aria-hidden="true">X</span>
              </button>
              {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <p>
              Enter the email to create your account. Then you will receive a link to email to continue with the registration.
            </p>
            <form method="POST" enctype="multipart/form-data" action="{{ url_for('register') }}">
              <div class="row">
                <div class="col-lg-12 responsive-column">
                  <div class="input-box">
                    <label class="label-text">Email</label>
                    <div class="form-group">
                      <span class="fa fa-envelope-o form-icon"></span>
                      <input class="form-control" type="email" id="email" name="email" placeholder="Email" 
                      pattern="{{ input_validation.EMAIL_REGEX_PATTERN|format_regex_for_html }}" 
                      title="Only accepts gmail.com, hotmail.com, yahoo.com, outlook.com, sit.singaporetech.edu.sg and singaporetech.edu.sg domain" 
                      required="true">
                    </div>
                  </div>
                </div>
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <div class="shallot-recaptcha-margin">
                </div>
                <div class="col-lg-12">
                  <div class="btn-box">
                    <button class="theme-btn" type="submit">Submit</button>
                  </div>
                </div>
              </div>
              {{ recaptcha }}
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 mt-3"></div>
  </div>
</div>
{% endblock %}