{% extends "base.html" %}
{% block title %}Enter your new password!{% endblock %}
{% block content %}

<div class="container">
  <div>
      <h1 class="text-center">Enter your new password!</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col md-12">
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category, message in messages %}
      <div class="alert alert-{{ category }} alert-dismissable" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="close">
            <span aria-hidden="true">X</span>
        </button>
        {{ message }}
      </div>      
      {% endfor %}
      {% endif %}
      {% endwith %}
      <form method="POST" enctype="multipart/form-data" action={{ url_for("bp_forgot_password.verify_reset", token=token) }} >
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            minlength="8"
            placeholder="Enter password"
            required
          />
          <input
              type="hidden"
              id="email"
              name="email"
              value={{ email }}
          />
          <label for="confirm_password">Confirm Password</label>
          <input
            type="password"
            class="form-control"
            name="confirm_password"
            minlength="8"
            placeholder="Re-enter password"
            required
          />
        </div>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <button type="submit" class="btn btn-primary">Submit</button>
        {{ recaptcha }}
      </form>
    </div>
  </div>
</div>
{% endblock %}