{% extends "base.html" %}
{% block title %}Vehicle types{% endblock %}
{% block content %}

<main>
  <article>
    {#
    - #FEATURED CAR
    #}
    
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="container" style="margin-top: 20px;">
    {% for category, message in messages %}
      <div class="alert alert-{{ category }} alert-dismissable" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="close">
              <span aria-hidden="true">X</span>
          </button>
          {{ message }}
      </div>
    {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    <section class="section featured-car" id="featured-car">
      <div class="container">

        {#
        <div class="title-wrapper">
          <h2 class="h2 section-title">Featured cars</h2>

          <a href="#" class="featured-car-link">
            <span>View more</span>

            <ion-icon name="arrow-forward-outline" role="img" class="md hydrated" aria-label="arrow forward outline">
            </ion-icon>
          </a>
        </div>
        #}

        {% if vehicle_type %}
        <h1>{{ vehicle_type }}</h1>
        <hr/>
        {% endif %}


        <ul class="featured-car-list">

          {% for vehicle in vehicles %}
          <li>
            <div class="featured-car-card">

              <figure class="card-banner">
                {% if vehicle.image %}
                <img src="data:{{ vehicle.image_mime }}};base64,{{ vehicle.get_b64_image() }}" loading="lazy" class="w-100" width="440"
                  height="300">
                {% else %}
                <img src="{{ url_for('static', filename='../static/images/generic.webp') }}" loading="lazy" class="w-100" width="440"
                  height="300">
                {% endif %}
              </figure>

              <div class="card-content">

                <div class="card-title-wrapper">
                  <h3 class="h3 card-title">
                    {{ vehicle.vehicle_model }}
                    {#<a href="#">Toyota SUPRA</a>#}
                  </h3>

                  <data class="year" value="2021">{{ vehicle.vehicle_type }}</data>
                </div>

                <ul class="card-list">

                  <li class="card-list-item">
                    <ion-icon name="people-outline" role="img" class="md hydrated" aria-label="people outline">
                    </ion-icon>

                    <span class="card-item-text">{{ vehicle.location }}</span>
                  </li>

                  <li class="card-list-item">
                    <ion-icon name="flash-outline" role="img" class="md hydrated" aria-label="flash outline"></ion-icon>

                    <span class="card-item-text">{{ vehicle.license_plate }}</span>
                  </li>

                  <li class="card-list-item">
                    <ion-icon name="speedometer-outline" role="img" class="md hydrated"
                      aria-label="speedometer outline"></ion-icon>

                    <span class="card-item-text">13.1km / 1-litre</span>
                  </li>

                  <li class="card-list-item">
                    <ion-icon name="hardware-chip-outline" role="img" class="md hydrated"
                      aria-label="hardware chip outline"></ion-icon>

                    <span class="card-item-text">Automatic</span>
                  </li>

                </ul>

                <div class="card-price-wrapper">

                  <p class="card-price">
                    <strong>${{ vehicle.price_per_unit }}</strong> / Day
                  </p>

                </div>

              </div>

            </div>
          </li>
          {% endfor %}
        </ul>

      </div>
    </section>

  </article>
</main>

{% endblock %}